.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}

/**







Play Icon

**/

.PlayIcon {
  position: relative;
  height: 0px;
  width: 0px;
  border: 14px white solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right: transparent;
  border-left: 28px solid white;
  border-radius: 3px;

  transition: border 0.2s, transform 0.3s;
  &[data-playing="true"] {
    border: 14px white solid;
    transform: rotate(180deg);
  }
}
