@import "../VideoPlayer/root.module.scss";
@mixin controlButtonMixin() {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include size(32px);
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}

.container {
    @extend .rootPlayer;
    @include flex(space-between);
    padding: 0rem 0.5rem;
    gap: 0.5rem;
    width: 100%;
    height: 50px;
    .middle {
        position: relative;
        align-items: center;
        flex: 1;
        display: flex;
        height: 100%;
        gap: 1rem;
    }
    .volumeController {
        position: relative;
        display: flex;
        align-items: center;
        transition: transform 0.3s, width 0.3s;
        &[data-focus="true"] {
            .volumeSlider {
                transform: scale(1);
                width: 100px;
                &::-webkit-slider-thumb {
                    appearance: none;
                    transform: scale(1);
                    border-radius: 100%;
                }
            }
        }
        .muteButton {
            position: relative;
            height: 32px;
            width: 32px;
            padding: 0px;
            img {
                height: inherit;
                width: inherit;
            }
        }
        &:hover {
            .volumeSlider {
                transform: scale(1);
                width: 100px;
                &::-webkit-slider-thumb {
                    appearance: none;
                    transform: scale(1);
                    border-radius: 100%;
                }
            }
        }
        .volumeSlider {
            appearance: none;
            position: relative;
            background-color: white;
            border-radius: 100px;
            height: 10px;
            width: 0px;
            transition: transform 0.3s, width 0.3s;
            transform: scale(0);
            cursor: pointer;
            &::-webkit-slider-thumb {
                appearance: none;
                height: 20px;
                width: 20px;
                transform: scale(0);
                border-radius: 100%;
                transition: transform 0.3s;
                background-color: white;
            }
        }
    }
    .playButton {
        @include controlButtonMixin();
    }
    .fullScreenButton {
        @include controlButtonMixin();
    }
}

.iconImage {
    height: inherit;
    width: inherit;
}


/**







Play Icon
**/

.PlayIcon {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 0px;
    width: 0px;
    border: 14px white solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right: transparent;
    border-left: 28px solid white;
    border-radius: 0px;
    transition: border $animation-time, transform $animation-time, width $animation-time, height $animation-time;
    &::before {
        display: block;
        content: "";
        height: 100%;
        width: 30%;
        background-color: white;
        border-radius: 3px;
    }
    &::after {
        display: block;
        content: "";
        height: 100%;
        width: 30%;
        background-color: white;
        border-radius: 3px;
    }
    &[data-playing="true"] {
        border-width: 0px;
        border-color: white;
        border-color: transparent;
        height: 28px;
        width: 28px;
        transform: rotate(180deg);
    }
}


/**







Pause Icon

*/

.pauseIcon {
    position: relative;
    @include flex(space-between);
    @include size(28px);
    transition: all $animation-time;
    &::before {
        content: "";
        height: 100%;
        width: 30%;
        background-color: white;
        border-radius: 3px;
    }
    &::after {
        content: "";
        height: 100%;
        width: 30%;
        background-color: white;
        border-radius: 3px;
    }
}


/**







Full screen Icon

**/

.fullScreenIcon {
    position: relative;
    height: 20px;
    width: 30px;
    border: 2px solid white;
    border-radius: 5px;
}