@import "../VideoPlayer/root.module.scss";

.container {
  @extend .rootPlayer;
  @include flex();
  width: 100%;
  height: 50px;
  padding: 0rem 1rem;
  .fullScreenButton {
    position: relative;
    margin-inline-start: auto;
    height: 100%;
  }
}

/**







Play Icon

**/

.PlayIcon {
  position: relative;
  height: 0px;
  width: 0px;
  border: 14px white solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right: transparent;
  border-left: 28px solid white;
  border-radius: 3px;
  transition: border 0.2s, transform 0.3s;

  &[data-playing="true"] {
    border: 14px white solid;
    transform: rotate(180deg);
  }
}

/**







Full screen Icon

**/

.fullScreenIcon {
  position: relative;
  height: 22px;
  width: 32px;
  border: 2px solid white;
  border-radius: 5px;
}
