.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 1rem;
  z-index: 10;
  height: 50px;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(0%);
  &[data-focus="false"] {
    opacity: 0;
    transform: translateY(-100%);
  }
  &::after {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    height: 1px;
    box-shadow: 0px 0px 60px 60px rgba(0, 0, 0, 0.7);
    z-index: -2;
  }
}
