@import "./root.module.scss";

.container {
  @extend .rootPlayer;
  @include flex();
  max-width: 500px;
  object-fit: contain;
  overflow: hidden;
  border-radius: 8px;
  &:focus {
    outline: none;
  }

  &[data-fullscreen="true"] {
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
  }

  & button {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .video {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 5px 8px;
    box-shadow: 0px -30px 50px 0px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.5px);

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      content: "";
      display: block;
      backdrop-filter: blur(1px);
      box-shadow: inset 0px -60px 50px 0px rgba(0, 0, 0, 0.7);
      z-index: -1;
    }
    z-index: 1000000;
  }
}
.ambientBg {
  position: absolute;

  filter: blur(100px);
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    box-shadow: inset 0px 0px 100px 120px rgb(15, 15, 15);
  }
  z-index: -1;

  .ambientImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
}
